
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>

<h1>
    Pretende eliminar também as tarefas?
</h1>


<a asp-controller="Project" asp-action="EliminarProjetoComTarefas">Sim</a> <br/> <a asp-controller="Project" asp-action="EliminarProjetoSemTarefas">Não</a>
</body>
</html>