
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<form asp-controller="Tarefas" asp-action="TarefaEntreDatas">
<input type="date" name="start"/>
<input type="date" name="end"/>
<input type="submit" name="submit" value="Pesquisar"/>
</form>
</body>
</html>