@page
@model ProjectManagement.Views.Home.Registo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Registo</title>
</head>
<body>
<div>
    <form method="post" asp-controller="Home" asp-action="Registo">
        <input type="text" name="nome" placeholder="Nome">
        <p></p>
        <input type="text" name="username" placeholder="Username">
        <p></p>
        <input type="password" name="password" placeholder="Password">
        <p></p>
        <label>Escolha um horário:</label>
        <select name="horario" id="horario">
            <option value="1">Horario 1</option>
            <option value="2">Horario 2</option>
        </select>
        <input type="submit">
    </form>
</div>
</body>
</html>